{% extends "layout.html" %}

{% block title %}
    Cashed
{% endblock %}

{% block main %}
    <h1 class="mb-3">Best Change</h1>

    <table class="table table-hover">
        <thead>
            <tr class="table-active table-light text-dark">
                <th scope="col">Quarters</th>
                <th scope="col">Dimes</th>
                <th scope="col">Nickels</th>
                <th scope="col">Pennies</th>
                <th scope="col">Coins in Total</th>
            </tr>
        </thead>
        <tbody>

            <tr class="table-dark text-warning">
                <td>{{ quarters }}</td>
                <td>{{ dimes }}</td>
                <td>{{ nickels }}</td>
                <td>{{ pennies }}</td>
                <td>{{ coins }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
