{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1 class="mb-3"><strong>Home</strong></h1>
        <div class="container">
            <div class="section">
                <h3>Why does this Website Exist?</h3>
                    <p>
                    Inspired by CS50 and as the final project of CS50x2022, this website came into existence. This website was made with love by a young technology inspired youth
                    named Saqlain Alam Artas from the village Sosot, Pingal located in the Northern Areas of Pakistan.
                    </p>
            </div>
            <div class="section">
                <h3>CS50x2022</h3>
                    <p>
                    CS50 was my first ever exposure to programming and I consider myself lucky to be taught by the great CS50 team. CS50 helped me build a strong base for
                    my programming career. Because of CS50 I am confident that I can tackle every challenge out there related to programming. Moreover, I am ready to learn new languages and
                    maybe create a language of my own.
                    </p>
                    <p>
                    CS50 was well-organized and well-designed for both new programmers and the experienced ones too. For me, everything was paced perfectly and was extremely interesting. Due
                    to the effort by CS50 team and Professor David J. Malan, I didn't get bored for even a moment. I enjoyed every bit of this journey. I am feeling sad that this course
                    came to an end.
                    </p>
                    <p>
                    Thank you Professor David J. Malan, Professor Brian Yu, Professor Brenda Anderson, Professor Doug Lloyd, Professor Glenn Holloway, Professor Rongxin Liu and all CS50 staff
                    for a memorable 2022!
                    </p>
            </div>
            <div class="section border card border-primary">
                <h2 class="mb-3"><strong>More on this Website</strong></h3>
                    <h3 class="mb-3">Message</h3>
                    <p>
                        Store and access notes or messages in server. These notes are also sharable via an access code.
                    </p>
                    <h3 class="mb-3">Readablity</h3>
                    <p>
                        A program that calculates the approximate grade level needed to comprehend some text
                    </p>
                    <h3 class="mb-3">Change</h3>
                    <p>
                        A program that calculates the minimum number of coins required to give a user change.
                    </p>
                    <h3 class="mb-3">CC Checker</h3>
                    <p>
                        A program that determines whether a provided credit card number is valid according to Luhn’s algorithm
                    </p>
            </div>
        </div>
{% endblock %}
